aaa.txt.orig
ConsoleApp1/.vs/ConsoleApp1/DesignTimeBuild/.dtbcache.v2
ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.dgspec.json
ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.props
ConsoleApp1/ConsoleApp1/obj/project.assets.json
ConsoleApp1/ConsoleApp1/obj/Debug/netcoreapp3.1/ConsoleApp1.csproj.FileListAbsolute.txt
